body {
    font-family: Verdana, sans-serif;
}

.p1 {
    color: darkblue;
    font-size: 18px;
}

.p2 {
    color: green;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 2px;
    line-height: 28px;
}
